{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Travel By Bits</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "css/uikit.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <script src="{% static "js/uikit.min.js" %}"></script>
    <script src="{% static "js/uikit-icons.min.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
</head>

<body>
    <nav class="uk-navbar-container" id="nav" uk-navbar uk-grid uk-navbar-transparent style="">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a class="uk-logo uk-padding-remove-right" href="/profile/">
                    <img src="{% static "img/logo.png" %}" alt="logo" width="45px" style="position:inherit">
                    </a>
                </li>
                <li><a style="font-size: large; color: black">Air Bits</a></li>
            </ul>
        </div>
        <div class="uk-navbar-right width-1-2">
            <ul class="uk-navbar-nav">
                {% if user.is_authenticated %}
                <li>
                    <a href="/profile/">
                    <span uk-icon="user"></span>&nbsp;
                    Hi, {{ user.username }}
                    </a>
                </li>
                {% else %}
                <li class="uk-parent">
                    <a href="#modal-center" uk-toggle>
                    <span uk-icon="user"></span>&nbsp;
                    Login
                    </a>
                </li>
                {% endif %}
                <div id="modal-center" class="uk-flex-top" uk-modal>
                    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical" style="width:90%;height:67%;">
                        <h3 class="uk-modal-title" id="mod">Login</h3>
                        <button class="uk-modal-close-default" type="button" uk-close></button>
                        <form method="post" class="uk-form-horizontal uk-margin-large">
                            {% csrf_token %}
                            <div class="uk-margin">
                                <label class="uk-form-label" id="mod" for="form-horizontal-text">Email:</label>
                                <div class="uk-form-controls">
                                    <input name="username" class="uk-input" id="form-horizontal-text" style="background-color:#3C2759;" type="text" placeholder="Enter Email">
                                </div>
                            </div>
                            <div class="uk-margin">
                                <label class="uk-form-label" id="mod" for="form-horizontal-text">Password:</label>
                                <div class="uk-form-controls">
                                    <input name="password" class="uk-input" id="form-horizontal-text" type="password" style="background-color:#3C2759;" placeholder="Enter Password">
                                </div>
                            </div>
                            <center>
                                <button type="submit" class="uk-button uk-button-default search-button" style="background-color:#3C2759;">
                                <a style="color:whitesmoke;">Login</a>
                                </button>
                                <a href="/accounts/signup/">Register Here</a>
                            </center>
                        </form>
                    </div>
                </div>
            </ul>
        </div>
    </nav>
    <div class="uk-height-medium uk-background-cover uk-light uk-flex" style="background-image: url('{% static "img/plane.png" %}');"></div>
    <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid id="card2">
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">BlockChain Compliant</h3>
                <p>Fear of safety of your personal info? Well, We got the best solution for that . With our advanced BlockChain
                    technology we assure the security of every bit of your personal credential. We got the powerful framework
                    in which you can share your details without any hesitation.
                </p>
                <br>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">Get The Best Seat</h3>
                <p>We care about you. So we have the best seat for you. We ensure that you get the best seat. With our seat
                    swapping you can swap seats with others.
                </p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">Get Cheapest Fare</h3>
                <p>Dont worry abiut the fares anymore . We are here to provide the best fare that is possible. We make your
                    joerney full of entertainment and fun.
                </p>
            </div>
        </div>
    </div>
    <div class="uk-card uk-card-footer uk-card-body uk-width-1-1@m">
        <h3 class="uk-card-title" style="color:black;">Contact Us</h3>
        <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter" style="color:black;"></a>
        <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook" style="color:black;"></a>
        <a href="" class="uk-icon-button" uk-icon="google-plus" style="color:black;"></a>
    </div>
</body>

</html>
