{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static "css/uikit.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/style2.css" %}" />
</head>

<body>
    <div class="uk-offcanvas-content">
    <nav class="uk-navbar-container" uk-navbar>


            <button class="uk-button uk-button-default uk-margin-top" type="button" uk-toggle="target: #offcanvas-overlay"><span uk-icon="menu"></span></button>

            <div id="offcanvas-overlay" uk-offcanvas="overlay: true; mode: push">
                <div class="uk-offcanvas-bar" style="background-color:#f8f8f8">

                    <button class="uk-offcanvas-close" type="button" uk-close></button>

                    <div class="uk-card uk-card-default">
                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <img class="uk-border-circle" width="40" height="40" src="{% static "img/avatar.jpg"%}">
                                </div>
                                <div class="uk-width-expand">
                                    <h3 class="uk-card-title uk-margin-remove-bottom">Sign Up</h3>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="uk-card uk-card-default uk-margin-small-top">
                        <div class="uk-card-body">
                            <ul class="uk-list uk-list-divider">
                                <li><a href=""><strong>Contact Us</strong></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <a class="uk-navbar-item uk-logo uk-navbar-center" href="#">Sign Up</a>
    </nav>

    <div class="uk-container">
        <div class="uk-card">
            <div class="uk-card-header">
                <h2 align=center>Sign Up</h2>
            </div>
            <div class="uk-card-body">
                <form method="POST">{% csrf_token %}
                    <fieldset class="uk-fieldset">
                            <div class="uk-margin">
                                <input class="uk-input" name="username" type="text" placeholder="Email">
                            </div>
                            <div class="uk-margin">
                                <input class="uk-input" name="password1" type="password" placeholder="Password">
                            </div>
                            <div class="uk-margin">
                                <input class="uk-input" name="password2" type="password" placeholder="Password Again">
                            </div>
                    </fieldset>
                    <button class="uk-button uk-button-primary uk-align-center" type="submit">Sign Up</button>
                </form>
            </div>
        </div>
    </div>


</div>


    <script src="{% static "js/uikit.min.js" %}"></script>
    <script src="{% static "js/uikit-icons.min.js" %}"></script>

</body>

</html>
