body{
	overflow-x:hidden;
	}
nav{
	background-color: #3C2759;
	color:#B4AAC1;
	}
#nav_button{
	color:#B4AAC1;
	}

.card{
width:700px;
height:400px;
position:relative;
left:0;
right:0;
margin:auto;
top:-400px;
z-index:99;
background: linear-gradient(#3C2759,transparent 95%);
border-radius:8px;

}

#card2{
width:100%;
height:100%;
position:relative;
left:0;
right:0;
margin:auto;
top:-400px;
border-radius:8px;

}
.uk-slideshow-items li{
height:90vh;

}

.uk-slideshow-items li:after{
content:"";
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
z-index:99;
background: linear-gradient(transparent 80%, white);
}
img{
	height:100%;
}
#search_flight{
	background-color:#3C2759;
	border-radius:8px;
}
.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
  color:#3C2759;
}

form #increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
  color:#3C2759;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
button{
	background-color: #3C2759;
	color:#B4AAC1;
}