{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static "css/uikit.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/style2.css" %}" />
</head>

<body>
    <div class="uk-offcanvas-content">
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li><a href="#" uk-toggle="target: #offcanvas-overlay"><span uk-icon="menu"></span></a></li>
                </ul>
            </div>
            <a class="uk-navbar-item uk-logo uk-navbar-center" href="#">Profile</a>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li><a href="#"><span uk-icon="bell"></span><span class="uk-badge">{{ notification }}</span></a></li>
                    <li><a href="#"><span uk-icon="more-vertical"></span></a></li>
                    <div uk-dropdown>
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </nav>
        <div class="uk-container uk-margin">
            <div class="uk-card uk-card-default uk-margin">
                <form method="POST" action="">{% csrf_token %}
                    <fieldset class="uk-fieldset">
                        <legend class="uk-legend uk-text-center">Add Ticket</legend>
                        <div class="uk-margin uk-margin-remove-bottom">
                            <input name='pnr' class="uk-input uk-form-width-medium uk-align-center" type="text" placeholder="Enter PNR Number">
                        </div>
                        <button class="uk-button uk-button-default uk-margin uk-margin-remove-top uk-align-center" type="submit">Add Ticket</button>
                    </fieldset>
                </form>
            </div>
            <hr class="uk-remove-margin">
            <h3 align=center>Your Tickets</h3>

            {% for ticket in object_list reversed %}
            <div class="uk-card uk-card-default uk-margin">
                <div class="uk-card-header uk-margin-remove-bottom">
                    <h4 class="uk-align-left">{{ ticket.flight }}</h4>
                    <h5 class="uk-align-right">{{ ticket.pnr }}</h5>
                </div>
                <div class=" uk-card-body uk-align-center uk-margin-remove-top">
                    <h3 align=center class="uk-margin-remove-top">{{ ticket.source }}
                        <span uk-icon="chevron-right"></span>{{ ticket.destination }}</h3>
                        <button class="uk-button uk-button-default uk-align-center uk-margin-remove-bottom" href="#modal-volunteer" uk-toggle>Volunteer</button>
                        <button class="uk-button uk-button-default uk-align-center uk-margin-remove-bottom" href="#modal-bumped" uk-toggle>Bumped</button>
                        <div id="modal-bumped" class="uk-flex-top" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

                                <button class="uk-modal-close-default" type="button" uk-close></button>

                                <div class="uk-modal-header uk-margin-remove">
                                    <h2 class="uk-modal-title uk-text-lead uk-align-center" style="font-size:1.1rem">Terms And Conditions</h2>
                                </div>
                                   <div class="uk-modal-body uk-margin-remove uk-padding-remove">
                                     <ul class="uk-list uk-list-bullet uk-margin-remove uk-padding-remove uk-text-small">
                                        <li>Once you agreed to this smart contract and Accept the seat request then you have to give your seat and the corresponding benifits against you will be getting through our app.</li>
                                        <li>If no one send a seat request then you have to take that flight.</li>
                                        <li>The corresponding benifits you will be provided in the next flight.</li>

                                        <li>Once you get the seat from someone then you cant cancel that seat in any circumstances and you have to pay something extra that will be decided by the airline.</li>
                                        <li>If no one is willing to give their seat then according to the airline rules you can't board for which the benifits will be provided by the airlines.</li>

                                        <li>This is a mechine generated contract which has the airline authorzation for changing the tickets.</li>
                                        <li>This contract don't need any physical signature and once you accepted the contrcat means you are signed the contract. </li>
                                    </ul>
                                    </div>
                                <div class="uk-modal-footer uk-text-right">
                                    <button class="uk-button uk-button-primary uk-align-center" type="button">Accept</button>
                                </div>

                            </div>
                        </div>
                        <div id="modal-volunteer" class="uk-flex-top" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

                                <button class="uk-modal-close-default" type="button" uk-close></button>

                                <div class="uk-modal-header uk-margin-remove">
                                    <h2 class="uk-modal-title uk-text-lead uk-align-center" style="font-size:1.1rem">Terms And Conditions</h2>
                                </div>
                                   <div class="uk-modal-body uk-margin-remove uk-padding-remove">
                                     <ul class="uk-list uk-list-bullet uk-margin-remove uk-padding-remove uk-text-small">
                                        <li>Once you agreed to this smart contract and Accept the seat request then you have to give your seat and the corresponding benifits against you will be getting through our app.</li>
                                        <li>If no one send a seat request then you have to take that flight.</li>
                                        <li>The corresponding benifits you will be provided in the next flight.</li>

                                        <li>Once you get the seat from someone then you cant cancel that seat in any circumstances and you have to pay something extra that will be decided by the airline.</li>
                                        <li>If no one is willing to give their seat then according to the airline rules you can't board for which the benifits will be provided by the airlines.</li>

                                        <li>This is a mechine generated contract which has the airline authorzation for changing the tickets.</li>
                                        <li>This contract don't need any physical signature and once you accepted the contrcat means you are signed the contract. </li>
                                    </ul>
                                </div>
                                <div class="uk-modal-footer uk-text-right">
                                    <button class="uk-button uk-button-primary uk-align-center" type="button"><a style="color:white;" href="{% url 'acceptor' ticket.pk %}">Accept <p style="display:none">{{ ticket.pk }}</p></a></button>
                                </div>

                            </div>
                        </div>
                </div>
            </div>
            {% empty %}
            <div class="uk-card uk-card-default uk-margin">
                <div class="uk-card-body uk-align-center uk-margin-remove-bottom">
                    <p>Booking history is empty. Add one!</p>
                </div>
            </div>
            {% endfor %}

        </div>
        <div id="offcanvas-overlay" uk-offcanvas="overlay: true; mode: push">
            <div class="uk-offcanvas-bar" style="background-color:#f8f8f8">
                <button class="uk-offcanvas-close" type="button" uk-close></button>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-border-circle" width="40" height="40" src="{% static "img/avatar.jpg" %}">
                            </div>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">Hello</h3>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body">
                        <ul class="uk-list uk-list-divider">
                            <li>
                                <span uk-icon="mail"></span>
                                <strong style="font-size:10px;">{{ user.username }}</strong>
                            </li>
                            <li>
                                <span uk-icon="receiver"></span>
                                <strong>XXX-XXX-XXXX</strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="uk-card uk-card-default uk-margin-small-top">
                    <div class="uk-card-body">
                        <ul class="uk-list uk-list-divider">
                            <li>
                                <a href="">
                                    <strong>Ticket History</strong>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <strong>Account Settings</strong>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <strong>Contact Us</strong>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static "js/uikit.min.js" %}"></script>
    <script src="{% static "js/uikit-icons.min.js" %}"></script>
</body>

</html>
